#quantityExplainer {
  margin: 1em 0 2em; }

#quatityPrice {
  background: #ef6621;
  text-align: center; }
  #quatityPrice p {
    color: #FFF;
    font-size: 3em;
    line-height: .82em;
    margin: .618em; }
    #quatityPrice p small {
      display: block;
      font-size: .5em; }

.popular {
  background: url(/img/homepage/most-popular.png) no-repeat 80% 50%; }

.sidebar {
  margin-top: 2.618em; }
  .sidebar #accountCurrentQuantity .lead {
    font-size: 6em;
    font-weight: bold;
    letter-spacing: -1;
    line-height: .618em;
    margin-bottom: 0; }
    .sidebar #accountCurrentQuantity .lead small {
      font-size: .618em;
      font-weight: normal;
      margin-left: -.382em; }
