tr:nth-child(even) {background-color: #EEE;}
tr:nth-child(odd) {background-color: #FFF;}

tbody.files tr {cursor: pointer;}
tbody.files tr.hover {background: red;}

tbody.files a.edit {color: inherit; text-decoration: none;}
tbody.files tr.incomplete a {color: #C00; font-weight: bold; text-decoration: none;}


#infoPanel > div {background: #EFE; padding: .618em;}