/*
main orange: e66125
*/
body,
html {
  height: 100%; }

body {
  color: #555; }

.control-group.error h4, .control-group.error label {
  color: #C00; }

/** LAYOUT **/
#wrapper {
  min-height: 100%;
  position: relative; }

#bodyWrapper {
  padding-bottom: 8em; }

/** end LAYOUT **/
/** HEADER **/
.navbar a.brand {
  color: #e66125;
  font-size: 2em;
  font-weight: 500;
  padding-left: 30px; }
  .navbar a.brand img {
    position: relative;
    top: -2px; }
.navbar .nav {
  text-transform: uppercase; }
  .navbar .nav form {
    text-transform: none; }
.navbar #navPages {
  margin-right: 2em; }
.navbar #navAccount {
  margin-top: 0; }
.navbar li.app {
  display: none; }
.navbar li.public {
  display: block; }
.navbar .divider {
  color: #e66125;
  font-weight: bold;
  padding-top: 24px; }
.navbar .nav > li > a {
  padding-top: 24px; }
.navbar .nav > li.register > a {
  padding-top: 0; }
.navbar li.register .css-arrow {
  border-color: #e66125 transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0px 20px;
  display: block;
  height: 0;
  margin: 0 auto 4px;
  width: 0; }

.signedIn .navbar li.app {
  display: block; }
.signedIn .navbar li.public {
  display: none; }

#page-account-signin .navbar li.signin,
#page-account-create .navbar li.register,
#page-public-contact .navbar li.contact {
  display: none; }

.dropdown-form {
  padding: 15px 15px 0; }
  .dropdown-form [type=checkbox] {
    float: left;
    margin-right: 10px; }

/** end HEADER **/
#navbarAdmin {
  background: #C00;
  color: #FFF;
  text-transform: uppercase; }
  #navbarAdmin a {
    color: #FFF; }

#cmsModal {
  width: 940px;
  margin-left: -470px; }
  #cmsModal textarea {
    height: 20em;
    width: 92%; }

/** FOOTER **/
footer {
  background: #F6F6F6;
  bottom: 0;
  height: 6em;
  padding-top: 1em;
  position: absolute;
  width: 100%; }

footer .nav {
  display: inline-block;
  margin-bottom: 0; }

/** end FOOTER **/
/** BOOTSTRAP **/
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px; }

label .help-block {
  margin-top: -.618em; }

.lead {
  color: #888; }

/** end BOOTSTRAP **/
