#myCarousel {
	background: #e66125;

	.container-fluid {position: relative;}
	.carousel-caption {
		background: none; 
		padding: 3em 1em 0 6em; 
		right: 50%; 
		top: 0;
		
		h1 {
			color: #FFF; font-size: 4em; font-weight: 400; line-height: .92em; text-transform: uppercase; 
		}

		p {line-height: 1.236em;}
	}
	.carousel-caption.color {background: #e66125;}

	.carousel-control.left {left: .618em;}
	.carousel-control.right {right: .618em;}
}

#sectionIntro {padding-bottom: 1.618em;}

#logoCol {
	min-height: 16em; position: relative;
	
	h1 {color: #e66125; left: 2.382em; position: absolute; top: -113px; font-weight: 500; font-size: 4em; line-height: 1;}
	img {display: block; position: relative; left: -48px;}
}



#sectionBoxes {
	background: #CCC;
	
	.container-fluid {padding: 4em 0 4em;}
	.span4 {
		background: #FFF; 
		margin-bottom: 2em; 
		padding: 2.618em 3em 1em;

		p {
			font-size: 1.236em;
			margin-bottom: 2em;
			min-height: 5em;
		}

		h4 {
			font-weight: normal; text-align: center; text-transform: uppercase;

			.icon {background: url(/img/logos/moc-vert-55x65-sprites.png) no-repeat 0 0; display: block; height: 68px; margin: 0 auto; width: 57px;}
		}
	}

	.top {
		.left {
			color: #e66125;
			-webkit-border-radius: 1.618em;
			-webkit-border-bottom-right-radius: 0;
			-moz-border-radius: 1.618em;
			-moz-border-radius-bottomright: 0;
			border-radius: 1.618em;
			border-bottom-right-radius: 0;
		}

		.center {
			color: #afab35;
			-webkit-border-top-left-radius: 1.618em;
			-webkit-border-top-right-radius: 1.618em;
			-moz-border-radius-topleft: 1.618em;
			-moz-border-radius-topright: 1.618em;
			border-top-left-radius: 1.618em;
			border-top-right-radius: 1.618em;

			.icon {
				background-position: -57px 0;
			}
		}

		.right {
			color: #f16287;
			-webkit-border-radius: 1.618em;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-radius: 1.618em;
			-moz-border-radius-bottomleft: 0;
			border-radius: 1.618em;
			border-bottom-left-radius: 0;

			.icon {
				background-position: -114px 0;
			}
		}
	}

	.bottom {
		.left {
			color: #7db5b3;
			-webkit-border-radius: 1.618em;
			-webkit-border-top-right-radius: 0;
			-moz-border-radius: 1.618em;
			-moz-border-radius-topright: 0;
			border-radius: 1.618em;
			border-top-right-radius: 0;

			.icon {
				background-position: 0px -71px;
			}
		}

		.center {
			color: #aa5478;
			-webkit-border-bottom-right-radius: 1.618em;
			-webkit-border-bottom-left-radius: 1.618em;
			-moz-border-radius-bottomright: 1.618em;
			-moz-border-radius-bottomleft: 1.618em;
			border-bottom-right-radius: 1.618em;
			border-bottom-left-radius: 1.618em;

			.icon {
				background-position: -57px -71px;
			}
		}

		.right {
			color: #cd2534;
			-webkit-border-radius: 1.618em;
			-webkit-border-top-left-radius: 0;
			-moz-border-radius: 1.618em;
			-moz-border-radius-topleft: 0;
			border-radius: 1.618em;
			border-top-left-radius: 0;

			.icon {
				background-position: -114px -71px;
			}
		}
	}
}



#sectionPricing {
	background: #aea8a2; padding: 2em 0;
	
	.span8 {
		padding-left: 3.368em; 
	}

	.lead {
		color: #FFF; font-size: 3em; line-height: 1em; text-transform: uppercase;
	}
}

#sectionPricingBubble {
	p {
		background: url(/img/homepage/pricing-bubble.png) no-repeat 0 0; color: #FFF; font-size: 2em; height: 337px; margin-top: -3em; text-align: center; width: 285px;

		.lead {
			font-weight: bold; display: block; padding-top: 1em;
		}
	}
}





